.wrapper {
  margin: 0 auto;
  padding-top: 5rem;
  width: 600px;
}

.deleteIcon {
  color: red;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1 rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.inputItem {
  margin-right: 1rem;
}

.done {
  text-decoration: line-through;
}

.todoInput {
  margin-bottom: 1rem;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
